.dashboardContainer {
    display: flex;
    width: 100vw;
}

.inputStyleSubselect{
    width: 80%;
    border: 2px solid rgb(128, 128, 128);
    color: black;
    padding: 2% 3%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.274);
    margin-left: 5%;


}

.search{
    border: 2px solid rgba(255, 0, 0, 0.08);
    margin: 3%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
.search input{
    font-size: 1.2rem;
    width: 80%;
    border: none;
}
.search input:focus-visible{
    outline: none;
}

.subscription-cards{
    margin: 0 7%;
    display: flex;
}

.card{
    border: 1px solid rgba(255, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.details-delete-edit{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.card p{
    margin-top: 3%;
}

.card h1{
    color: #dc4d01;
}


.inputStyleSub {
    border: 2px solid rgb(128, 128, 128);
    color: black;
    padding: 2% 3%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.274);
}

.sub-form{
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    background-color: rgb(255, 255, 255);
}

 .labelStyleSub p{
    color: black;
     margin-bottom: 1%;
}

 .submitSub{
     background-color: var(--orange);
     border: none;
     color: white;
     border-radius: 7px;
     width: 30%;
 }
.walletBody{
    background-color: var(--orange);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 7px;
    padding: 5%;
    color: #FFFFFF;

}

.wallet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.wallet button{
    cursor:pointer;
    border-radius: 2px;
    padding: 1.5% 10%;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 7%;

}

.payments{
    display: flex;
}

.payment-pictures{
    width: 50%;
    margin-top:5%;
    margin-bottom: 3%;
}

.payment-pictures img{
    width: 100%;
}

.payment-method{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.payment-method button{
    padding: 2% 10%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(220, 77, 1);
    color: #FFFFFF;
}

.payments h1{
    color: black;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.97;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}


.modal-content {
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
    background-color: white;
    padding: 2%;
    border: #dc4d01 1px solid;
    border-radius: 10px;
}


.inputs{
    padding: 2% 7%;
    margin: 1% 10% 0 10%;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 8px 5px 6px 6px #e6e6e6;
    box-shadow:  8px 5px 6px 6px #e6e6e6;
}


.input-box{
    margin: 3% 10% 0 10%;
    display: flex;
    padding: 2% 5%;
    flex-direction: column;
    -webkit-box-shadow: 8px 5px 6px 6px #e6e6e6;
    box-shadow:  8px 5px 6px 6px #e6e6e6;
}

.input-box .date_{
    width: 86%;
}

.input-container{
    margin-top: 4%;
    margin-bottom: 3%;

}

.input-container input{
    padding: 1%;
    width: 80%;
    border: transparent;
    background-color: transparent;
}
.input-container label{
    font-weight: bold;
}
.input-class input:focus-visible{
    outline: none;
}


.input-class{
    padding: 1%;
    border: 1px solid rgba(170, 119, 122, 0.47);
    margin-top: 2%;
}

.input-error-container p{
    color: red;
}

.solid{
    width: 30%;
    padding: 1%;
    background-color: #dc4d01;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 7%;
}

.options{
    display:flex;
    flex-direction:column;
}

.options input{
    padding: 5%;
}






@media (min-width: 200px) and  (max-width: 1024px){
    .dashboardContainer{
        flex-direction: column;
    }
    .dashboardBodyContainer{
        margin: 2%;
        width: 95%;
    }

    .subscription-cards{
     flex-direction: column;
    }

    .card{
        margin: 3% 0;
        padding: 3%;

    }

    .sub-form{
        margin: 7%  0 7% 0;
        padding: 5%;
    }
    .submitSub{
        margin-left: 5%;
        font-size: 1.5rem;
        padding: 2% 7%;
        width: 50%;
    }
.walletBody{
    margin-top: 10%;
}

.payments{
    flex-direction: column;
}

}
@media (min-width: 701px) and  (max-width: 1024px) {

}

@media (min-width: 1025px){

    .dashboardBodyContainer{
        margin: 2% 4%;
        width: 100%;
    }

    .subscription-cards{
        flex-wrap: wrap;
        margin: 2%;
    }
    .card{
        margin: 1%;
        width: 25%;
        padding: 3%;

    }

    .sub-form{
        width: 60%;
        margin: 3%  0 7% 15%;
        padding: 5%;
    }

    .submitSub{
        margin-left: 5%;
        font-size: 1.5rem;
        padding: 2% 4%
    }
    .walletBody {
        width: 40%;
        margin-left: 23%;
        margin-top: 6%;

    }
    .balance h1{
        font-size: 4rem;
    }

}