:root{
  --background: #151e23;
  --bright_mode: #FFFFFF;
  --red: red;
  --yellow: #e7971f;
  --green: #08A045;
  --orange: #dc4d01;



}

body {
  margin: 0;
}

*{
  font-family: 'Crimson Text', serif;
  margin: 0;
  overflow-x: hidden;

}


