li {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
}
.nav-btn {
    cursor: pointer;
}

li:hover {
    color: var(--orange);
}

.sideNav{
    background-color: var(--background);
}

.dashboardHeader{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.user{
    color: #FFFFFF;
}
.user-logout{
    background-color: #dc4d01;
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
    cursor: pointer;
}






@media (min-width: 200px) and  (max-width: 1024px) {
    .openModal{
        transform :  translateX(0)
    }
    .closeModal{
        transform :  translatey(-120vh)
    }
    ul {
        position: fixed;
        top: 0;
        left: 40%;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #FFFFFF;
        transition: 1s;
    }
    li{
        margin: 2rem 0;
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
        border-bottom:  2px solid gray;
        transition: color .7s;
        padding: .4rem 1rem;
    }

    li:hover {
        color: var(--orange);

    }

    .nav-btn {
        visibility: visible;
    }
    nav {
        margin: 2rem;
    }

    .dashboardHeader{
        padding: 3%;
    }

    .user-logout{
        padding:  3%;
    }

    .logout{
        margin-top: 2%;

    }
    .sideNav{
        margin-top: 3%;
        display: flex;
        padding: 3% 2%;
        flex-wrap: wrap;
    }

    .navLink{
        border:  1px solid rgba(128, 128, 128, 0.11);
        margin:  2% 3%;
        padding: 3%;
    }
}

@media (min-width: 701px) and  (max-width: 1024px) {
    ul {
        position: fixed;
        top: 0;
        left: 45%;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #FFFFFF;
        transition: 1s;
    }
    li{
        margin: 2rem 0;
        text-align: center;
        width: 100%;
        font-size: 1.7rem;
        border-bottom:  2px solid gray;
        transition: color .7s;
        padding: .4rem;
    }


    li:hover {
        color: var(--orange);

    }

    .sideNav{
        flex-wrap: unset;
        justify-content: space-evenly;

    }

    .navLink{
        margin:  0;
    }






}

@media (min-width: 1025px){
    ul {
        margin-left: 5%;
        margin-top: 2%;
        display: flex;
        color: #FFFFFF;
    }

    li {
        padding: 0 2rem;
        transition: color, font-size 1s;

    }

    li:hover {
        color: var(--orange);
        font-size: 1.2rem;
    }

    .hamburger {
        display: none;
    }


    .nav-btn {
       display: none;
        opacity: 0;
    }

    nav {
        margin: 1% 10%;
        border-bottom:  1px solid rgba(128, 128, 128, 0.11);
        padding-bottom: 1%;
    }

    .sideNav{
        min-height: 100vh;
        width: 25%;
    }

    .navLink{
        width: 100%;
        margin: 30% 0 30% 10% ;
        font-size: 1.5rem;
    }

    .dashboardHeader{
        display: flex;
        padding: 1% 3%;
        justify-content: space-between;
    }

    .user{
        margin-top: 3%;
        color: #FFFFFF;
    }
    .user-logout{
        padding: 1% 3%;
        width: 15%;
    }

    .logout{
        margin-top: 5%;

    }
}